:root {
  --color-primary: #2196f3;

  --color-primary-dark: #2f303a;
  --color-primary-darker: #212121;

  --color-primary-light: #757575;
  --color-primary-lighter: #e5e5e5;
  --color-primary-lightest: #f5f4fa;

  --color-primary-white: #fff;
  --color-neutral-light: rgba(255, 255, 255, 0.6);

  --font-w-700: 700;
  --font-w-500: 500;
  --font-w-900: 900;

  --font-s-14: 14px;
  --font-s-16: 16px;
  --font-s-18: 18px;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--color-primary-light);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
  color: var(--color-primary-dark);
}

.hidden {
  display: none;
}

.header {
  padding: 24px 0 25px;
  border-bottom: 1px solid var(--color-primary-lighter);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-w-700);
  font-size: 26px;
  color: var(--color-primary-dark);
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo span {
  color: var(--color-primary);
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--color-primary-dark);
  font-weight: var(--font-w-500);
  transition: color 0.3s ease;
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
  color: var(--color-primary);
}

.contacts-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--color-primary-light);
  letter-spacing: 0.02em;
  transition: color 0.3s ease;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-primary);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  background-color: var(--color-primary-lightest);
  color: var(--color-primary-dark);
  border-radius: 4px;
  font-size: var(--font-s-16);
  line-height: 1.6;
  letter-spacing: 0.03em;
  font-weight: var(--font-w-500);
  font-family: inherit;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn.active {
  background-color: var(--color-primary);
  color: var(--color-primary-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  width: 370px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.portfolio-item-description {
  padding: 20px 24px;
  border: 1px solid var(--color-primary-lighter);
  border-top: 0;
}

.portfolio-item-title {
  color: var(--color-primary-darker);
  font-size: var(--font-s-18);
  line-height: 2;
  font-weight: var(--font-w-700);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: var(--font-s-16);
  line-height: 1.87;
}

.footer {
  padding: 60px 0;
  background-color: var(--color-primary-dark);
}

.footer .logo {
  color: var(--color-primary-white);
  margin-bottom: 20px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--color-neutral-light);
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: var(--font-s-14);
  line-height: 1.7;
  transition: color 0.3s ease;
}

.address-link:hover,
.address-link:focus {
  color: var(--color-primary-white);
}

.hero {
  background-color: var(--color-primary-dark);
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 15px;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: var(--font-w-900);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color-primary-white);
  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--color-primary-white);
  border: none;
  font-size: var(--font-s-16);
  background-color: var(--color-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-weight: var(--font-w-700);
  cursor: pointer;
}

.benefits {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  width: 270px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--color-primary-darker);
  font-size: var(--font-s-14);
  font-weight: var(--font-w-700);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.benefits-text {
  color: var(--color-primary-light);
  font-size: var(--font-s-14);
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.section-title {
  color: var(--color-primary-darker);
  font-weight: var(--font-w-700);
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: 370px;
}

.team {
  background-color: var(--color-primary-lightest);
}

.team-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.team-item {
  background-color: var(--color-primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-info {
  padding: 30px 15px;
}

.team-item-title {
  font-size: var(--font-s-16);
  font-weight: var(--font-w-500);
  color: var(--color-primary-darker);
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-item-text {
  font-size: var(--font-s-16);
  color: var(--color-primary-light);
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
